/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --green: hsla(160, 100%, 37%, 1);
  --green-hover: hsla(160, 100%, 37%, 0.2);

  --padding: 16px;
  --border-radius: 12px;
  --box-shadow: 0 0 16px rgba(63, 63, 63, 0.25);
  --dialog-animation-duration: 0.15s;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

a,
.green {
  text-decoration: none;
  color: var(--green);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--green-hover);
  }
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.4);
  border-radius: 100vmin;
  border: 6px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: rgba(127, 127, 127, 0.5);
}

::selection {
  background-color: var(--green-hover);
}

.icon-button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-text);
  font-size: 1.5rem;
  border: 0;
  border-radius: 100vmax;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button:hover {
  cursor: pointer;
}

.error {
  color: red;
}

:root {
  --control-height: 32px;
  --control-border-radius: calc(var(--control-height) / 2);
  --control-spacing: 12px;

  --control-color-lighter: hsl(160, 100%, 31%);
  --control-color-light: hsl(160, 100%, 25%);
  --control-color-medium: hsl(160, 100%, 19%);
  --control-color-dark: hsla(160, 100%, 13%);
}

.form-control {
  width: 100%;
  margin-top: var(--control-spacing);
  margin-bottom: var(--control-spacing);
}

.form-control > * {
  width: 100%;
}

.form-control label {
  display: inline-block;
  padding-bottom: 4px;
  transition: all 0.1s linear;
}

.form-control:focus-within label {
  color: var(--color-heading);
}

.form-control.form-control-required label::after {
  content: "*";
  margin-left: 4px;
  color: var(--control-color-light);
}

.form-control.form-control-required:focus-within label::after {
  color: var(--control-color-lighter);
}

.form-control-inner {
  height: var(--control-height);
  border-radius: var(--control-border-radius);
  padding: 4px max(6px, calc(var(--control-border-radius) * 0.75));
  background-color: var(--color-background-mute);
  color: var(--color-text);
  border: 2px solid var(--control-color-light);
  outline: 0px solid var(--control-color-dark);
  transition: all 0.1s linear;
}

.form-control-inner:hover {
  border: 2px solid var(--control-color-lighter);
}

.form-control-inner:focus {
  color: var(--color-heading);
  border: 2px solid var(--control-color-lighter);
  outline: 4px solid var(--control-color-dark);
}

.form-button {
  cursor: pointer;
  background-color: var(--control-color-medium);
  color: white;
  padding: 12px 16px;
  border-radius: 100vmin;
  border: 2px solid transparent;
  outline: 0px solid var(--control-color-dark);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transition: all 0.1s linear;
}

.form-button:hover {
  background-color: var(--control-color-light);
}

.form-button:focus {
  outline: 4px solid var(--control-color-dark);
}

.form-button.form-button-secondary {
  background-color: rgba(127, 127, 127, 0);
  color: var(--color-heading);
  box-shadow: none;
}

.form-button.form-button-secondary:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.form-button.form-button-outline {
  background-color: rgba(127, 127, 127, 0);
  color: var(--color-heading);
  border: 2px solid var(--control-color-light);
}

.form-button.form-button-outline:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.form-popup {
  visibility: visible;
  position: absolute;
  z-index: 1;
  opacity: 1;
  background-color: var(--color-background);
  transition: visibility 0s, opacity 0.1s linear;
}

.form-popup.form-popup-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s linear;
}

.form-control-dropdown {
  height: var(--control-height);
  border-radius: var(--control-border-radius);
  padding: 4px max(6px, calc(var(--control-border-radius) * 0.75));
  background-color: var(--color-background-mute);
  color: var(--color-text);
  border: 2px solid var(--control-color-light);
  outline: 0px solid var(--control-color-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  transition: all 0.1s linear;
}

.form-control-dropdown:hover {
  border: 2px solid var(--control-color-lighter);
}

.form-control-dropdown:focus {
  color: var(--color-heading);
  border: 2px solid var(--control-color-lighter);
  outline: 4px solid var(--control-color-dark);
}

.form-control-dropdown-selection {
  flex-grow: 1;
  text-align: left;
}

.form-control-dropdown-icon {
  flex-grow: 0;
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out;
}

.form-control-dropdown-icon.form-control-dropdown-icon-open {
  transform: rotate(-180deg);
}

.form-control-dropdown-option {
  color: var(--color-text);
  cursor: pointer;
  padding: 4px 12px;
  transition: all 0.1s linear;
}

.form-control-dropdown-option:hover {
  background-color: rgba(127, 127, 127, 0.2);
  color: var(--color-heading);
}

.form-control-dropdown-popup {
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  max-height: 300px;
  overflow-y: auto;
  transition: max-height 0.5s ease, visibility 0s, opacity 0.25s linear;
}

.form-control-dropdown-popup.form-control-dropdown-popup-hidden {
  max-height: 0;
  overflow: auto;
  transition: max-height 0.5s ease, visibility 0.5s, opacity 0.25s linear 0.125s;
}

.form-control-dropdown-options-container {
  padding: 6px 0;
}
